In [2]:
import glob
import numpy
import pandas
import seaborn
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/matplotlib/__init__.py:886: MatplotlibDeprecationWarning:
examples.directory is deprecated; in the future, examples will be found relative to the 'datapath' directory.
  "found relative to the 'datapath' directory.".format(key))

In [7]:
with open('./din_level01_K2RT__FREE__.json', 'r') as file:
    data = pandas.read_json(file)

In [8]:
data

,din_name,din_kind,din_start,din_end,din_rules,din_hits,din_fluxs
0,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,Interventions,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
1,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r1,29775,"[0.0, -0.0020491674117080003, 0.00226532040954..."
2,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r1_rev,29274,"[0.0, 0.002063384278983, -0.002033646130841, -..."
3,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r2,21104,"[0.0, 0.0, 0.0, -0.021063034938141, 0.00385138..."
4,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r3,31381,"[0.0, 0.0, 0.0, 0.012529035743102001, -0.00383..."
5,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r4,10277,"[0.0, 0.0, 0.0, 0.0, 0.003857723305588, -0.013..."
6,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r5,19349,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.003091635192..."
7,din_level01_K2RT__FREE__.json,RELATIVE,600.000006,660.000048,r6,19337,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0019239778286..."

In [31]:
numpy.array(data['din_fluxs'][0])

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [49]:
pd = pandas.DataFrame(data = [ numpy.array(x) for x in data['din_fluxs']],
                      index = data['din_rules'], columns = data['din_rules'])

In [50]:
pd.index.name = ''
pd.columns.name = ''

In [51]:
pd

,Interventions,r1,r1_rev,r2,r3,r4,r5,r6
,,,,,,,,
Interventions,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
r1,0.0,-0.002049,0.002265,0.006500,0.000000,-0.003910,0.000000,0.000000
r1_rev,0.0,0.002063,-0.002034,-0.004059,0.000000,0.002643,0.000000,0.000000
r2,0.0,0.000000,0.000000,-0.021063,0.003851,0.000000,0.004498,0.000000
r3,0.0,0.000000,0.000000,0.012529,-0.003839,0.005756,-0.003839,0.000000
r4,0.0,0.000000,0.000000,0.000000,0.003858,-0.013619,0.004767,0.000000
r5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.003092,0.003139
r6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.001924,-0.003129