In [1]:
import glob
import numpy
import pandas
import seaborn
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/matplotlib/__init__.py:886: MatplotlibDeprecationWarning:
examples.directory is deprecated; in the future, examples will be found relative to the 'datapath' directory.
  "found relative to the 'datapath' directory.".format(key))

In [5]:
files = sorted(glob.glob('./SA_K2RT__FREE__/*/flux*'))

In [6]:
files

['./SA_K2RT__FREE__/level0/flux_level00_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level1/flux_level01_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level10/flux_level10_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level2/flux_level02_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level3/flux_level03_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level4/flux_level04_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level5/flux_level05_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level6/flux_level06_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level7/flux_level07_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level8/flux_level08_K2RT__FREE__.json',
 './SA_K2RT__FREE__/level9/flux_level09_K2RT__FREE__.json']

In [16]:
with open(files[1], 'r') as file:
    data = pandas.read_json(file)

pd1 = pandas.DataFrame(data = [ numpy.array(x) for x in data['din_fluxs']],
                      index = data['din_rules'], columns = data['din_rules'])

pd1.index.name = ''
pd1.columns.name = ''

pd1

,Interventions,r1,r1_rev,r2,r3,r4,r5,r6
,,,,,,,,
Interventions,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
r1,0.0,-0.002018,0.002298,0.006436,0.000000,-0.003843,0.000000,0.000000
r1_rev,0.0,0.002031,-0.002065,-0.004103,0.000000,0.002614,0.000000,0.000000
r2,0.0,0.000000,0.000000,-0.021170,0.003878,0.000000,0.004540,0.000000
r3,0.0,0.000000,0.000000,0.012516,-0.003864,0.005775,-0.003856,0.000000
r4,0.0,0.000000,0.000000,0.000000,0.003880,-0.013427,0.004746,0.000000
r5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.003112,0.003139
r6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.001929,-0.003129

In [17]:
with open(files[2], 'r') as file:
    data = pandas.read_json(file)

pd2 = pandas.DataFrame(data = [ numpy.array(x) for x in data['din_fluxs']],
                      index = data['din_rules'], columns = data['din_rules'])

pd2.index.name = ''
pd2.columns.name = ''

pd2

,Interventions,r1,r1_rev,r2,r3,r4,r5,r6
,,,,,,,,
Interventions,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
r1,0.0,-0.002018,0.002300,0.008290,0.000000,-0.003895,0.000000,0.000000
r1_rev,0.0,0.002032,-0.002068,-0.004111,0.000000,0.002096,0.000000,0.000000
r2,0.0,0.000000,0.000000,-0.057909,0.002508,0.000000,0.002695,0.000000
r3,0.0,0.000000,0.000000,0.031907,-0.002502,0.014529,-0.002518,0.000000
r4,0.0,0.000000,0.000000,0.000000,0.002508,-0.029515,0.002826,0.000000
r5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.002282,0.002281
r6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.001881,-0.002276

In [19]:
pd1 / pd2

,Interventions,r1,r1_rev,r2,r3,r4,r5,r6
,,,,,,,,
Interventions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
r1,NaN,0.999597,0.998979,0.776322,NaN,0.986658,NaN,NaN
r1_rev,NaN,0.999594,0.998637,0.997943,NaN,1.247116,NaN,NaN
r2,NaN,NaN,NaN,0.365579,1.546478,NaN,1.684447,NaN
r3,NaN,NaN,NaN,0.392262,1.544442,0.397451,1.531275,NaN
r4,NaN,NaN,NaN,NaN,1.546861,0.454914,1.679208,NaN
r5,NaN,NaN,NaN,NaN,NaN,NaN,1.364178,1.376288
r6,NaN,NaN,NaN,NaN,NaN,NaN,1.025496,1.375107